# .env example for sensitive environment variables
UPLOAD_DIRECTORY=
MONGODB_DB_CONNECTION_URI=
MONGODB_DB_NAME=
ENV_MODE=frontend
POSTGRESQL_DB_USERNAME=
POSTGRESQL_DB_PASSWORD=
POSTGRESQL_DB_DATABASE_NAME=
POSTGRESQL_DB_HOST=
